[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "==1.1.2"
gensim = "==3.8.2"
nltk = "==3.5"
unidecode = "==1.1.1"

[requires]
python_version = "3.6"
